extends layout 

block main-content 
    h1.page-title.text-center.m-3.text-primary.fw-bold.mb-3 #{pageTitle}
    .row 
        .col-md-3 
            h3 News 
            each n in news
                .card.p-2.me-1(style="border:none;")
                    a.text-dark(href=n.url style="text-decoration:none;") 
                        img.card-img-top.px-3(src=n.urlToImage )
                        .card-body                         
                            div.card-title.fs-6 #{n.title}
                            div.card-text.small #{n.description}                       
        .col-md-9
        //- a.btn.btn-primary(href="/").w-100 Back to Home