extends layout 

block main-content
    div(style=`background: linear-gradient(rgba(${color.r}, ${color.g},${color.b}, 0.3), rgba(${color.r}, ${color.g},${color.b}, 0.3));min-height: 80vh;margin: 0; padding: 0;`)
        .container-fluid.row 
            .col-md-3.bg-light.px-2.bg-opacity-50
                h5.fs-5.text-center.text-secondary.mt-4 
                    i.text-secondary.fa-regular.fa-newspaper.me-2
                    span News - 
                    |  #{search.length > 20 ? 'Recent' : search}
                .d-flex.flex-column.my-4(style="row-gap:1.2rem;")
                    each n in news 
                        .text-dark.small(style="line-height: 1.2;" data-bs-toggle="tooltip" data-bs-title=`content: ${n.content}`) #{n.title}
                            span.ms-1.badge.bg-info-subtle.text-dark(style="white-space: normal; word-break: break-word;") #{n.author}
                            a(href=n.url)
                                i.ms-1.small.text-primary.fa-solid.fa-arrow-up-right-from-square
            .col-md-9
                h4.page-title.text-center.m-3.text-dark.fw-bolder.mb-2 Here's the result for 
                    span.fs-2.p-1.myTitle(style=`color:rgba(${color.r}, ${color.g},${color.b}, 1);`) #{search.length > 20 ? 'Your Search' : search}
                .container.d-flex.flex-row.justify-content-between.align-items-center
                    a.btn.btn-sm.btn-outline-dark.ms-4(href="/category")
                        i.fa-solid.fa-arrow-left.me-2
                        | Back to Category
                    div.views.mx-auto.d-flex.flex-row.align-items-center.justify-content-center.mb-2                 
                        input#largeView(type="radio" name="view" value="large-view" checked hidden onclick="changeView()")
                        label(for="largeView")
                            i.text-secondary.fs-3.fas.fa-th-large
                        input#smallView(type="radio" name="view" value="small-view" hidden onclick="changeView()")
                        label(for="smallView")
                            i.text-secondary.fs-3.fas.fa-th
                        input#thumbnailView(type="radio" name="view" value="thumbnail-view" hidden onclick="changeView()")
                        label(for="thumbnailView")
                            i.text-secondary.fs-3.fas.fa-th-list
                        //- PUBLISH DATE: NOT WORKING ON GOOGLE API
                        //- div.views.mx-auto.d-flex.flex-row.align-items-center.justify-content-center(style="column-gap:0.3rem;")
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2024" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2023" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2022" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2021" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2020" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2019" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2018" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2017" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2016" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                        //-     form(method="get" action="/publishdate")
                        //-         input.btn.btn-sm.btn-outline-secondary(type="submit", value="2015" name="year")
                        //-         input(type="hidden", name="filter", value=search)
                    a.btn.btn-sm.btn-outline-dark.me-4(href="/search/submit") Advanced Search
                        i.fa-solid.fa-magnifying-glass.ms-2                           
                div.flex-row.flex-wrap.large-view.justify-content-center(style="display:flex;")
                    each b in books
                        div.card.rounded-0(style="width: 8rem; height:11rem;").shadow.m-2.muted
                            a(href=`/bookdetail/${b.id}` data-bs-toggle="tooltip" data-bs-title=`Title:${b.volumeInfo.title}; Authors:${b.volumeInfo.authors}; `)
                                img.card-img-top.rounded-0(src=b.volumeInfo.imageUrl style="width:8rem; height:11rem;" alt=`Title:${b.volumeInfo.title}`)
                                p.small.text-end.bg-dark.p-1.text-white(style="position: absolute; top: 0; right: 0; margin: 0; opacity: 0.7; background-color: rgba(0, 0, 0, 0.5);") 
                                    | #{b.volumeInfo.publishedDate ? b.volumeInfo.publishedDate.slice(0, 4) : 'unknown'}
                                if !(userSession && b.isUserFavorite)
                                    form(action="/userbooks/favorite/add/submit", method="post") 
                                        input(type="hidden", name="favorite_id", value=b.id)
                                        if query
                                            input(type="hidden", name="filter", value=query)
                                        else 
                                            input(type="hidden", name="filter", value=search)
                                        button.btn.btn-danger.py-1.px-2.btn-sm.rounded-0(type="submit" data-bs-toggle="tooltip" data-bs-title="Save to your bookshelf" style="position: absolute; top: 0; left: 0; z-index: 1;")
                                            i.fa-regular.fa-heart
                                if (userSession && b.isUserFavorite)
                                    form(action="/userbooks/favorite/delete/submit", method="get")
                                        input(type="hidden", name="favorite_id", value=b.id)
                                        if query
                                            input(type="hidden", name="filter", value=query)
                                        else 
                                            input(type="hidden", name="filter", value=search)
                                        button.btn.btn-danger.py-1.px-2.btn-sm.rounded-0(type="submit" data-bs-toggle="tooltip" data-bs-title="remove from your bookshelf" style="position: absolute; top: 0; left: 0; z-index: 1;")
                                            i.fa-solid.fa-heart
                div.flex-row.flex-wrap.small-view.justify-content-center(style="display:none;")
                    each b in books
                        div.card.rounded-0(style="width: 6rem; height:8.5rem;").shadow.my-2.mx-1.muted
                            a(href=`/bookdetail/${b.id}` data-bs-toggle="tooltip" data-bs-title=`Title:${b.volumeInfo.title}; Authors:${b.volumeInfo.authors}`)
                                img.card-img-top.rounded-0(src=b.volumeInfo.imageUrl style="width:6rem; height:8.5rem;" alt=`Title:${b.volumeInfo.title}`)
                                p.text-end.bg-dark.p-1.text-white(style="position: absolute; top: 0; right: 0; margin: 0; opacity: 0.7; background-color: rgba(0, 0, 0, 0.5); font-size:10px;") 
                                    | #{b.volumeInfo.publishedDate ? b.volumeInfo.publishedDate.slice(0, 4) : 'unknown'}
                                if !(userSession && b.isUserFavorite)
                                    form(action="/userbooks/favorite/add/submit", method="post") 
                                        input(type="hidden", name="favorite_id", value=b.id)
                                        if query
                                            input(type="hidden", name="filter", value=query)
                                        else 
                                            input(type="hidden", name="filter", value=search)
                                        button.btn.btn-danger.py-1.px-2.btn-sm.rounded-0(type="submit" data-bs-toggle="tooltip" data-bs-title="Remove from your bookshelf" style="position: absolute; top: 0; left: 0; z-index: 1; font-size:10px;")
                                            i.fa-regular.fa-heart
                                if (userSession && b.isUserFavorite)
                                    form(action="/userbooks/favorite/delete/submit", method="get")
                                        input(type="hidden", name="favorite_id", value=b.id)
                                        if query
                                            input(type="hidden", name="filter", value=query)
                                        else 
                                            input(type="hidden", name="filter", value=search)
                                        button.btn.btn-danger.py-1.px-2.btn-sm.rounded-0(type="submit" data-bs-toggle="tooltip" data-bs-title="Save to your bookshelf" style="position: absolute; top: 0; left: 0; z-index: 1; font-size:10px;")
                                            i.fa-solid.fa-heart
                div.flex-row.flex-wrap.thumbnail-view.justify-content-evenly.mb-3(style="display: none;")
                    each b in books
                        div.card.rounded-0(style="width: 22rem; height:10rem;overflow: hidden;").shadow.m-2.p-0
                            a.row.p-0(href=`/bookdetail/${b.id}` data-bs-toggle="tooltip" data-bs-title=`Publisher: ${b.volumeInfo.publisher}; Rating:${b.volumeInfo.rating}`)
                                div.col-sm-4.m-0.p-0
                                    img.card-img-top.rounded-0.mt-0.p-0(src=b.volumeInfo.imageUrl style="width:90%; height:10rem;" alt=`Title:${b.volumeInfo.title}`)
                                div.col-sm-8.p-0
                                    div.card-body.d-flex.flex-column.justify-content-start.h-100.p-0(style="max-height:10rem;max-width:90%;overflow: hidden; text-overflow: ellipsis;")
                                        div.card-title.fw-bolder.text-right.text-dark.my-1(style="font-size: 15px;") #{b.volumeInfo.title}
                                        div.card-subtitle.mb-1.text-body-secondary.fw-bolder(style="font-size: 12px;") #{b.volumeInfo.authors} | 
                                            span #{b.volumeInfo.publishedDate ? b.volumeInfo.publishedDate : 'unknown'}
                                        div.card-text.text-body-secondary.myDesc(style="font-size: 12px;") #{b.volumeInfo.description}
                                    if !(userSession && b.isUserFavorite)
                                        form(action="/userbooks/favorite/add/submit", method="post") 
                                            input(type="hidden", name="favorite_id", value=b.id)
                                            if query
                                                input(type="hidden", name="filter", value=query)
                                            else 
                                                input(type="hidden", name="filter", value=search)
                                            button.btn.btn-danger.py-1.px-2.btn-sm.rounded-0(type="submit" data-bs-toggle="tooltip" data-bs-title="Remove from your bookshelf" style="position: absolute; top: 0; right: 0; z-index: 1;")
                                                i.fa-regular.fa-heart
                                    if (userSession && b.isUserFavorite)
                                        form(action="/userbooks/favorite/delete/submit", method="get")
                                            input(type="hidden", name="favorite_id", value=b.id)
                                            if query
                                                input(type="hidden", name="filter", value=query)
                                            else 
                                                input(type="hidden", name="filter", value=search)
                                            button.btn.btn-danger.py-1.px-2.btn-sm.rounded-0(type="submit" data-bs-toggle="tooltip" data-bs-title="Save to your bookshelf" style="position: absolute; top: 0; right: 0; z-index: 1;")
                                                i.fa-solid.fa-heart

